/vendor
.idea/*
/.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.gitattributes
.styleci.yml
composer.lock
ubuntu-xenial-16.04-cloudimg-console.log
homebase_schema.sql
~
